
.event {
  background-color: darkseagreen;

  font-weight: 700;
  font-size: 12px;

  border-top: 1px solid rgb(107, 146, 107);
  border-bottom: 1px solid rgb(107, 146, 107);
  text-align: center;
  width: 99.5%;
}

.event:hover {
  background-color: rgb(124, 161, 124);
}

.events {
  width: 100%;
  margin-top: 50px;
  margin-left: 1px;
}

.table-header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.calendar-header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;

  font-size: medium;
}

.displayed-month {
  margin-top: 25px;
  height: 50px;
  width: 450px;

  text-align: center;
  line-height: 50px;

  background-color: darkseagreen;
  border: solid 3px #121212;
  box-shadow: 4px 4px #121212;
}

.displayed-week {
  margin-top: 25px;
  height: 50px;
  width: 450px;

  text-align: center;
  line-height: 50px;

  background-color: darkseagreen;
  border: solid 3px #121212;
  box-shadow: 4px 4px #121212;
}

.time-select {
  font-family: "PublicSans";
  font-size: xx-large;
  font-weight: 900;

  margin-top: 27px;
  margin-left: 15px;
  margin-right: 15px;

  height: 50px;
  width: 50px;

  text-align: center;
  line-height: 45px;

  background-color: darkseagreen;
  border: solid 3px #121212;
  box-shadow: 2px 2px #121212;
  
  transition: transform 100ms, box-shadow 100ms;
}

.time-select:hover {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px #121212;
}

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;

  outline: 4px solid #121212;
}

.weekday {
  width: 100px;
  text-align: center;
}

.calendar-day {
  width: calc(100%/7);
  position: relative;
  outline: 1px solid #121212;
}



.week {
  height: 770px;
}

.month {
  height: 150px;
}



.calendar-day:hover {
  background-color: rgba(0,0,0,.10);
}

.calendar-day p {
  position: absolute;
  right: 10px;
  color: #a6a6a6;
}

.current p {
  color: #000000;
}

.selected {
  background-color: rgba(0,0,0,.10);
  font-weight: bold;
}

