.calendar {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.timeframe-scale-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#timeframe-scale {
  width: 200px;
  height: 40px;
  background: none;

  font-size: large;
  font-weight: bold;
  text-align: center;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.during-popup{
  pointer-events: none;
}

