.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: darkseagreen;
    vertical-align: middle;
}

.title {
    font-weight: 700;
    font-size: xx-large;
    margin: 0;
    width: 150px;
}

.user {
    font-weight: 100;
    font-size: xx-large;
    margin: 0;
}

.logout-button {
    height: auto;
    width: 150px;
    background: none;
    border: none;
    font-size: large;
}

.logout-button:hover {
    text-shadow: 2px 2px 2px white;
}
